[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
djangorestframework = "*"
dj-database-url = "*"
whitenoise = {extras = ["brotli"], version = "*"}
gunicorn = "*"

[dev-packages]
flake8 = "*"
black = "*"
ipython = "*"
factory-boy = "*"
django-extensions = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.11"
